*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#a2bccb;
    text-align:center;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}
.container{
    height: 80vh;
     display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.BOX{
    
    height: 18vmin;
    width: 18vmin;
    border-radius:1rem ;
    border: none;
    font-size: 8vmin;
    color: #09a129;
    background-color: rgb(252, 252, 152);

}

#reset-btn{
    padding: 10px;
    font-size: 15px;
    background-color:#191913 ;
    color: #fff;
    border-radius: 10%;
    border:none;

}
#new-btn{
    padding: 10px;
    font-size: 15px;
    background-color:#191913 ;
    color: #fff;
    border-radius: 10%;
    border:none;
}
#msg{
    color:#09a129;
    font-size:5vmin;
    
}
.msg-container{
    height:130vmin;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    gap:4rem;
    

}
.hide{
    display: none;
}